<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Cadastro de Tipo de Produto</h1>

      
        <form action="/productType/edit" method="POST">
    
            <div class="form-group margin-top-10px">
                <label for="id-type-id" class="form-label">Registro do Produto</label>
                <input class="form-control" type="text" id="id-type-id" readonly name="id" value="<%=productType.id%>" required>
            </div>

            <div class="form-group margin-top-10px">
                <label for="id-type" class="form-label">Descrição do Tipo de Produto</label>
                <input class="form-control" type="text" id="id-type" name="productType" value="<%=productType.productType%>" required>
            </div>            


            <div class="form-group margin-top-10px">
                <label for="id-size-status" class="form-label">Status Tamanho</label>
                <select  class="form-control" id="id-size-status" name="status" >
                    <% if(productType.status==true) { %>
                        <option value=1 selected>Válido</option>
                        <option value=0>Inválido</option>
                    <% }
                        else { %> 
                            <option value=1>Válido</option>
                            <option value=0 selected>Inválido</option>
                        <% }; %>
                </select>
            </div>

            <div class="form-group base-line margin-top-10px"> 
                
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Editar">
                
            </div>
    
        </form>    
        
              
    </main>

    <article> <%- include ('../partials/menuProduct.ejs'); %></article>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>