<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Cadastro de Usuário</h1>
      
            
        <form action="/user/update" method="POST">
    


            <div class="flex-container">
                <label  class="">Nome</label>
                <input class="campo-form" type="hidden" name="id" value="<%=user.id%>">
                <input class="campo-form" type="text" name="nome" value="<%=user.nome%>" required autofocus>
            </div>

            <div class="flex-container margin-top-10px">
                <label  class="">e-mail</label>
                <input class="campo-form" type="text" name="email" value="<%=user.email%>" required>
            </div>
    
            <div class="flex-container margin-top-10px">
                <label class="">Senha Atual</label>
                <input class="campo-form" type="password" name="senhaAtual" placeholder="Informe Senha Atual." required>
            </div>

            <div class="flex-container base-line margin-top-10px"> 
                <input class="campo-form" type="hidden" name="senhaBanco" value="<%=user.senha%>">
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Salvar">
                <a href="/user/updatePassWord/<%=user.id%>" class="btn-link margin-left-10-px">Alterar Senha</a>
            </div>
    
        </form>       



<%- include ('../partials/down'); %>

    </main>