<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Fiscal - Nomenclatura Comum do Mercosul</h1>

      
        <form action="/ncm/edit" method="POST">
    
            <div class="form-group margin-top-10px">
                <label for="id-ncm-id" class="form-label">Registro NCM</label>
                <input class="form-control" type="text" id="id-ncm-id" readonly name="id" value="<%=ncm.id%>" required>
            </div>

            <div class="form-group">
                <label for="id-descricao" class="form-label">Descicao</label>
                <input class="form-control" type="text" id="id-descricao" name="description" value="<%=ncm.description%>" required autofocus>
            </div>


            <div class="form-group margin-top-10px">
                <label for="id-ncm" class="form-label">Código NCM</label>
                <input class="form-control" type="text" id="id-ncm" name="ncm" value="<%=ncm.ncm%>" required>
            </div>

            <div class="form-group margin-top-10px">
                <label for="id-ncm-status" class="form-label">Status NCM</label>
                <select  class="form-control" id="id-ncm-status" name="status" >
                    <% if(ncm.status==true) { %>
                        <option value="1" selected>Válido</option>
                        <option value="0">Inválido</option>
                    <% }
                        else { %> 
                            <option value="1">Válido</option>
                            <option value="0" selected>Inválido</option>
                        <% } %>
                </select>
            </div>

            <div class="form-group base-line margin-top-10px"> 
                
                <input class="button margin-left-30-por btn btn-primary" type="submit" value="Editar">
                
            </div>
    
        </form>    
        
              
    </main>

    <article> <%- include ('../partials/menuFiscal.ejs'); %></article>

    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>