<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Fiscal</h1>

      
        
        
              
    </main>

    <article> <%- include ('../partials/menuFiscal.ejs'); %></article>


    <footer><%- include ('../partials/footer'); %></footer>

    <%- include ('../partials/down'); %>