<%- include ('../partials/top'); %>

<header><%- include ('../partials/navbar'); %></header>


    <main class="flex-container direction-column">

         
        <h1 class="text-center">Cadastro de tamanho de produtos</h1>

      
        <table class="table table-hover">
            <thead>
                <th scope="col">Tamanho</th>
                <th scope="col">Descrição</th>
                <th scope="col">Status</th>
                <th scope="col">Editar</th>
                <th scope="col">Deletar</th>
            </thead>
            <tbody>  

        <% sizes.forEach(function(size){  %>

                <tr>
                    <td><%=size.size%></td>
                    <td><%=size.description%></td>
                    <td><%=size.status%></td>
                    <td class="ta-center"><a class="font-awesome color-edit" href="/size/edit/<%=size.id%>" 
                        ata-toggle="tooltip" title="Editar Unidade"></a></td>
                    <td class="ta-center"><a class="font-awesome color-delete" href="/size/excluir/<%=size.id%>" 
                        ata-toggle="tooltip" title="Excluir CFOP"
                        onclick="return confirm('Confirmar a Exclusão?')"></a></td>                                       
                </tr>
                </tr>
        <% }) %>
            </tbody>
        </table>
      
              
    </main>

    <article> <%- include ('../partials/menuProduct.ejs'); %></article>
    <aside><%- include ('../partials/newSize.ejs'); %></aside>


    <%- include ('../partials/footer'); %>

    <%- include ('../partials/down'); %>